body{
    margin: 0;
    padding: 0;
    background-color: #111;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-symbols{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
@font-face {
    font-family: "Regular Mono";
    src: url(FONTS/Regular.ttf);
}
@font-face {
    font-family: "Aurebesh Mono";
    src: url(FONTS/Aurebesh.otf);
}
@font-face {
    font-family: "Quote Regular";
    src: url(FONTS/Quote.otf);
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) translateX(0);
        filter: hue-rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-500%) translateX(600%);
        filter: hue-rotate(360deg);
        opacity: 0;
    }
}
.navbar{
    background-color: #00455500;
    color: white;
    width: 100%;
    height: 62px;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.navbar.scroll{
    background-color: #00455500;
    color: white;
    width: 100%;
    height: 62px;
    position: fixed;
    top: -62px;
    z-index: 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.navbar.solid{
    background-color: #2b2f30;
    box-shadow: 0px 4px 4px rgba(0, 20, 24, 0.5);
}
.navbar:hover{
    background-color: #2b2f30;
    box-shadow: 0px 4px 4px rgba(0, 20, 24, 0.5);
}
.navbar .mobile .collapsed{
    display: none;
}
.navbar .mobile{
    display: none;
    background-color: #2b2f30;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar .mobile .navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.navbar .desktop .primary .active{
    border-bottom-color: #F8C433;
}
.navbar .desktop .primary .active:hover{
    border-bottom-color: #5a4611;
}
.navbar .desktop .secondary.mini .subMenu{
    padding-left: 15px;
    padding-right: 10px;
    right: -25px;
}
.navbar .desktop .secondary.mini .subMenu a{
    padding: 20px 10px;
    padding-left: 20px;
    left: -20px;
    min-width: 100%;
    position: relative;
}
.navbar .mobile .navbar-header .more-mobile button{
    border: none;
    background-color: #2b2f30;
    color: white;
    padding: 18px;
    cursor: pointer;
}
nav .logo{
    max-width: 120px;
    max-height: 40px;
    padding: 5px;
    transition: all 0.3s ease-out;
}
nav .logo:hover{
    transform: scale(1.05);
}
nav a{
    text-decoration: none;
    display: block;
    transition: all 0.1s ease-in;
    padding: 12px 25px;
    border-bottom: solid 3px transparent;
}
nav a:hover{
    border-bottom-color: #F8C433;
}
nav a .main{
    color: white;
    font-family: "Regular Mono";
    font-size: 18px;
    transition: all 0.1s ease-in;
}
nav a .translated{
    color: #42484a;
    font-family: "Aurebesh Mono";
    font-size: 10px;
    transition: all 0.1s ease-in;
}
nav a:hover .main{
    color: #F8C433;
}
nav a:hover .translated{
    color: #70797b;
}
nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}
@media screen and (max-width: 862px) {
    .navbar:hover{
        border-bottom-right-radius: 0 !important;
    }
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        position: relative;
        left: 2px;
        display: block !important;
    }
    nav .secondary.mini .subMenu{
        background-color: #2b2f30;
        position: absolute;
        display: none;
        width: 125px;
        right: 0;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    nav .secondary.mini:hover .subMenu{
        display: block;
        background-color: #2b2f30;

    }
}
@media screen and (max-width: 587px) {
    nav .desktop{
        display: none;
    }
    nav .mobile{
        display: block !important;
    }
}
.quote-container{
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.quote-container.hidden{
    opacity: 0;
    filter: blur(1px);
    transition: all 3s;
}
.quote-container.hidden.show{
    opacity: 1;
    filter: blur(0);
}
.quote-container .title-quote{
    font-family: "Quote Regular";
    font-size: 38px;
    color: #76F9FB;
    text-align: center;
}
.computer-container-full{
    display: flex;
    resize: horizontal;
    margin: 0 auto;
    width: 92%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.computer-container-full .computer-full{
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    border-top: 5px solid #A5AEAB;
    border-right: 5px solid #6F817F;
    border-bottom: 5px solid #555555;
    border-left: 5px solid #4B5552;
    box-shadow: 5px 5px 25px #1f1f1f4d;
    background-color: #1F2322;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 56.25%;
}
.computer-container-full .computer-full .computer-in{
    position: absolute;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
    box-shadow: inset 5px 15px 25px #1f1f1f;
    background-color: #2B3134;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
.computer-container-full .computer-full .computer-in .left-dials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.computer-container-full .computer-full .computer-in .left-dials .button{
    display: flex;
    justify-content: center;
    margin-left: 17px;
    align-items: center;
    background-color: #D5D6B3;
    border-right: solid 4px #6e6f5d;
    border-bottom: solid 3px #6e6f5d;
    box-shadow: 2px 2px 4px #1f1f1fc1;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.1s;
}
.computer-container-full .computer-full .computer-in .left-dials .button:hover{
    background-color: #c0c19f;
    border-right: solid 3px #6e6f5d;
    box-shadow: 1px 1px 2px #1f1f1fc1;
}
.computer-container-full .computer-full .computer-in .left-dials .button span{
    color: #858671;
    font-size: 50px;
    cursor: pointer;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button{
    display: flex;
    flex-direction: row;
    border: solid 2px #180907;
    background-color: #29100d;
    border-radius: 10px;
    box-shadow: inset 2px 2px 8px #100605;
    margin-top: 15px;
    margin-right: 15px;
    height: 120px;
    width: 120px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .tall{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 42%;
    background-color: #2E110E;
    border-radius: 8px;
    border-right: solid 3px #130606;
    border-bottom: solid 2px #130606;
    box-shadow: 2px 2px 8px #100605;
    transition: all 0.1s;
    cursor: pointer;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .tall:hover{
    background-color: #2a0e0b;
    border-right: solid 2px #130606;
    box-shadow: 1px 1px 4px #100605;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .tall span{
    color: #1c0a08;
    font-size: 70px;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .two-short{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .two-short .red-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E110E;
    width: 100%;
    height: 48%;
    border-radius: 8px;
    border-right: solid 3px #130606;
    border-bottom: solid 2px #130606;
    box-shadow: 2px 2px 8px #100605;
    transition: all 0.1s;
    cursor: pointer;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .two-short .red-button:hover{
    background-color: #2a0e0b;
    border-right: solid 2px #130606;
    box-shadow: 1px 1px 4px #100605;
}
.computer-container-full .computer-full .computer-in .left-dials .options-button .two-short .red-button span{
    color: #1c0a08;
    font-size: 40px;
}
.computer-container-full .computer-full .computer-in .right.screen{
    display: flex;
    flex-direction: column;
    width: 80%;
}



.starry-background{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #111;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
}
.starry-background .stars{
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(90deg, #f5c272, #ffffff8f);
    animation: animate 5s ease infinite;
    border-radius: 50%;
}